<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RefreshWeatherData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <RefreshWeatherData.Properties.Settings>

      <!-- OpenWeatherMap requires an API key to work -->
      <!-- You have to sign up for their service in order to get an API key -->
      <!-- The API key is usually in the form of an GUID -->
      <setting name="OpenWeatherMapApiKey" serializeAs="String">
        <value>Put your API key here</value>
      </setting>

      <!-- The OpenWeatherMap Location name to get the data for -->
      <!-- To get an list of valid locations, please visit "www.OpenWeatherMap.com" -->
      <setting name="OpenWeatherMapLocationName" serializeAs="String">
        <value>Fussen</value>
      </setting>

      <!-- the IP-Address of the PLC. It must be an Ip-Address in the format of xxx.xxx.xxx.xxx. Hostnames are not supported-->
      <setting name="PlcIpAddress" serializeAs="String">
        <value>192.168.99.14</value>
      </setting>

      <!-- The Rack where the CPU is inserted. For 300 series CPUs, it is always Rack 0-->
      <!-- On 400 series PLC's it depends on your Hardware configuration, although usually it is 0, since Multi rack configurations are extremly rare -->
      <!-- On 1200 or 1500 series PLC's is always 0, since they do not support Multi Rack configurations -->
      <setting name="PlcRack" serializeAs="String">
        <value>0</value>
      </setting>

      <!-- The slot where the CPU is inserted. For 300 series CPUs, it is always Slot 2-->
      <!-- On 400 series PLC's it depends on your Hardware configuration, although usually it is 3 -->
      <!-- On 1200 or 1500 series PLC's is always 0, since they do not support Multicomputing -->
      <setting name="PlcSlot" serializeAs="String">
        <value>2</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "Real" -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="TemperaturaAddress" serializeAs="String">
        <value>MD1000</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "Real" -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="PressureAddress" serializeAs="String">
        <value>MD1004</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "Real" -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="HumidityAddress" serializeAs="String">
        <value>MD1008</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "Real" -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="WindSpeedAddress" serializeAs="String">
        <value>MD1012</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "Real" -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="WindDirectionAddress" serializeAs="String">
        <value>MD1016</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4. Must be an value of type "Real". -->
      <setting name="CloudPercentAddress" serializeAs="String">
        <value>MD1020</value>
      </setting>

      <!-- The S7 Address of the value. Can be any valid S7 identifier, such as DB123.DBD4.-->
      <!-- Must be an value of type "String". Keep in mind that S7 strings are Pascal string, not C-Strings -->
      <!-- if left emtpy, the value will not be written to the PLC -->
      <setting name="LocationNameAddress" serializeAs="String">
        <value>MD1024</value>
      </setting>

      <!-- Must be the string length in the PLC -->
      <!-- if you declared an string for 10 charcters in the PLC, you put 10 in this value even though it will consume 12 byes in the plc -->
      <!-- The two extra bytes are book-keeping data for the PLC because it uses Pascal strings -->
      <setting name="LocationNameStringLength" serializeAs="String">
        <value>10</value>
      </setting>
    </RefreshWeatherData.Properties.Settings>
  </userSettings>
</configuration>